.App {
    display: flex;
    justify-content: center;
}

.welcome-page {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(66, 206, 113), rgb(12, 131, 22));
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.welcome-title {
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 0rem;
}

.enter-name {
    transform: translate(0, -50px);
    padding: 0px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.name-input{
    transform: translate(0, -50px);
    font-weight: bold;
    width: 190px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/******** USER PAGE ********/
.user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.clock {
    font-size: 40px;
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 10px;
}

.link-to-pages {
    display: flex;
    
}

.links {
    padding: 1rem;
    text-decoration: none;
}
/******** CHANGE USER ********/
.user-name-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.update-button {
    padding: 0.5rem;
}

/******** DEBIT PAGE ********/
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.debit-container {
    display: grid;
    
}

/********** SETTINGS FORM ********/
.settings-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-settings{
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: red;
}

.edit-settings-container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.cancel-button {
    width: 50px;
}